{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container back-color ">
  <div class="row">
    <div class="col-md-8 mt-10 offset-md-2 app-tag justify">
       <h1>Wellcome to Kosi the best course booking tool.</h1>
       <br>    
      <p> "Sucess is no accident. It is hard work, perseverence, learning, studying, sacrifice and most of all,
        love of what you are doing or learning to do", PELE</p>
        <br>
      <h2>Kosi is here for all your learning and studying needs.</h2>
      <br>
  </div>
</div>
<div class="container back-color">
  <div class="row">
    <div class="col-md-8 mt-10 offset-md-2">
      <h3>{% trans "Sign In" %}</h3>


    <p>{% blocktrans %}To leave a review or add a star to a course, please log in. 
    If you have not created an account yet, then
    <a href="{{ signup_url }}">Sign Up</a> first.{% endblocktrans %}</p>

  </div>
</div>
<div class="row back-color"> 
  <div class="col-md-8 mt-3 offset-md-2"> 
    <form class="login" method="POST" action="{% url 'account_login' %}"> {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %} 
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %} 
      <button class="primaryAction btn" type="submit">{% trans "Sign In" %}

      </button> 
    </form> 
  </div> 
</div> 
</div> 
{% endblock %}
