body {
    background-color: #DDD0C8;
    margin-top: 100px;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #e4e2e1;
    font-style: italic;
}

.green-o {
    color: #459e9e;
}

.thin {
    font-weight: 300;
}

.dark-bg {
    background-color:#323232;
    color: #e4e2e1;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #323232;
}

.scale {
    width: 100%;
    height: auto;
}

.delivery {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color:#323232;
    color: white;
    position: relative;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background-color: #323232;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.course-link {
    text-decoration: none;
    color: #445261;
}

.course-link:hover {
    color:#459e9e; 
}

.course-link {
    color: #323232;
}

.course-title {
    margin-top: 10%;
    margin-left: 5%;
}

.course-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #23BBBB;
    color: #fff;
    border: none;
}

.btn-signup:hover,
.btn:hover {
    background-color: #fff;
    color: #23BBBB;
}

.btn-signup:active,
.btn {

    border-radius: 50%;
    background-color: #323232;
    color: #e4e2e1;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-star {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-star:hover,
.btn-star:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.back-color {
    background-color: #e4e2e1;

}

.app-tag {
    margin-top: 50px;
    
}

.text-box h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;

}

.page-link {
    background-color: #323232;
    color: #e4e2e1;

}

/* login and register page animations */ 

.text-box h1 {
    text-align: center;
    font-style: italic;
    font-size: 100px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    background-image: url('https://res.cloudinary.com/dcpg9fgrv/image/upload/v1695495718/static/images/logo.1bcfe0594214.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;

}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.scale {
    transition: .4s;
    transform-origin: 50% 50%;
}

/* Tone down the animation to avoid motion triggers. */
@media (prefers-reduced-motion) {
    .text-box h1 {
      animation: dissolve 4s linear infinite both;
      background-color: #DDD0C8;
      text-decoration: overline;
      color: #323232;
    }
  }

  /* footer */
  .fab {
    color: #e4e2e1;
  }

/* media queries */

/* @media only screen and (max-width: 768px) {
    .scale {
      display: none;
    }
  }  */

