{% extends 'base.html' %} 
{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container mt-5">
                {% if "placeholder" in course.featured_image.url %}
                <img class="card-img-top img-fluid" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img class="card-img-top img-fluid" src=" {{ course.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="course_delivery my-5">
                <h3 class="course-title">{{ course.title }}</h3>
                <p class="course-subtitle"> <strong>{{ course.delivery }}</strong> {{ course.delivery_from }} to {{ course.delivery_to }}</p>
            </div>
            <div class="card-body">
                <!-- The course content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ course.course_content| safe }}
                </p>
            </div>
            
        </div>

    </div>
</div>

<div class="container">
        
        <div class="col card mb-3 left top">
            <div class="row">
                <div class="col-1">
                    <strong>
                        <!-- {% if user.is_authenticated %} -->
                        <form class="d-inline" action="{% url 'course_star' course.slug %}" method="POST">
                            {% csrf_token %}
                            {% if reviewed %}
                            <button type="submit" name="course_id" value="{{course.slug}}" class="btn-star"><i class="fas fa-star"></i></button>
                            {% else %}
                            <button type="submit" name="course_id" value="{{course.slug}}" class="btn-star"><i class="far fa-star"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><i class="far fa-star"></i></span>
                        {% endif %}
                         <!-- The number of likes goes before the closing strong tag -->
                        <span class="text-secondary">{{ course.number_of_stars }} </span>
                    </strong>
                </div>
                <div class="col-1">
                    {% with reviews.count as total_reviews %}
                    <strong class="text-secondary"><i class="far fa-comments"></i> 
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ total_reviews }}</strong>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Reviews:</h3>
            <h4>To add a review, please login first.</h4>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for review in reviews %}
                <div class="reviews" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ review.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ review.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if reviewed %}
                <div class="alert alert-success" role="alert">
                    Your review is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Add a review:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}