{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container mt-auto">
    <!-- course title, delivery method and delivery date -->
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="curset-title">{{ course.title }}</h1>
                <p class="course-subtitle"><strong>{{ course.delivery }}</strong> | from {{ course.delivery_from }} at <strong>£{{ course.price }}</strong></p>      
            </div>
            <div class="d-none d-md-block col-md-6">
                {% if "placeholder" in course.featured_image.url %}
                <img src="{% static 'images/logo.png' %}" class="scale" alt="placeholder">
                {% else %}
                <img src="{{ course.featured_image.url }}" class="scale" alt="{{ course.title }}">
                {% endif %}
            </div>

        </div>
    </div>
</div>
<!-- course content -->
<div class="container">
    <div class="row">
        <div class="col-1 card-body">
            <p class="card-text">{{ course.course_content}}</p>
        </div>
    </div>
</div>
<!-- reviews and stars count-->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'course_star' course.slug %}" method="POST">
                                {% csrf_token %}
                                {% if reviewed %}
                                <button type="submit" name="course_id" value="{{course.slug}}" class="btn-star"
                                    aria-label="star"><i class="fas fa-star"></i></button>
                                {% else %}
                                <button type="submit" name="course_id" value="{{course.slug}}" class="btn-star"
                                    aria-label="star"><i class="far fa-star"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-star"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ course.number_of_stars }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ review_count }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Reviews display section -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h4>REVIEWS:</h4>
            <div class="card-body">
                {% for review in reviews %}
                <div class="reviews{% if not review.approved and review.name == user.username %} faded{% elif not review.approved %} d-none{% endif %}"
                    style="padding: 10px;">
                    <p class="font-weight-bold">
                        <strong>{{ review.name }}</strong> 
                        <span class="font-weight-normal">
                            on {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <div id="review{{ review.id }}">
                        {{ review.body | linebreaks }}
                    </div>
                    {% if not review.approved and review.name == user.username %}
                    <p class="approval">This review is awaiting approval</p>{% endif %}
                    {% if user.is_authenticated and review.name == user.username %}
                    <button class="btn btn-delete" review_id="{{ review.id }}">Delete</button>
                    <button class="btn btn-edit" review_id="{{ review.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Reviews text area -->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}

                <h4>Leave a review:</h4>
                <p>Posting as: {{ user.username }}</p>
                <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                    {{ review_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% else %}
                <h3><a href="{% url 'account_login' %}">Log in</a> to add a review/a star.</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <!-- reviews delete, update -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete review?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your review? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="course_detail.html" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
{% load static %}
<script src="{% static 'js/reviews.js' %}"></script> 
{% endblock extras %}